@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,700;0,800;1,500&display=swap');
:root{
    /* Primary */
    --LightRed: hsl(0, 100%, 67%);
    --OrangeyYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);
    /* Gradients */
    --LightSlateBlueBackground: hsl(252, 100%, 67%);
    --LightRoyalBlueBackground: hsl(241, 81%, 54%);
    --VioletBlueCircle: hsla(256, 72%, 46%, 1);
    --PersianBlueCircle: hsla(241, 72%, 46%, 0);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    /*Neutral */
    --White: hsl(0, 0%, 100%);
    --PaleBlue: hsl(221, 100%, 96%;);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue: hsl(224, 30%, 27%);
}
*{
    margin: 0;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}
.result-summary{
    margin: 150px 0px 0px 0px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.4);
    border-radius: 50px;
}
.result{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 350px;
    height: 500px;
    border-radius:50px;
    text-align: center;
    color: var(--White);
}
.header{
    margin: 40px 0px 30px 0px;
}
.score{
    display: grid;
    place-content: center;
    box-shadow:1px 0px 50px inset hsla(256, 72%, 46%, 1);
    width: 190px;
    margin-inline: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.score1{
    font-size: 100px;
}
.result-footer{
    margin-top: 30px;
}
.great{
    font-size: 40px;
    margin-bottom: 20px;
}
.conclusion{
    width: 240px;
    margin-inline: auto;
}
.summary{
    color: hsl(224, 30%, 27%);
    width: 350px;
    height: 500px;
    border-radius:50px;
}
.heading{
    margin: 40px 0px 30px 40px;
}
.content{
    margin: auto;
    width: 300px;
}
.template{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 5px;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
}
.group{
    display: flex;
    gap: 10px;
    align-items: center;
}
.title1{
    color: var(--LightRed);
}
.title2{
    color: var(--OrangeyYellow);
}
.title3{
    color: var(--GreenTeal);
}
.title4{
    color: var(--CobaltBlue);
}
.button{
    border-radius: 100px;
    padding: 16px 32px;
    display: grid;
    margin-inline: auto;
    width: 300px;
    background-color: var(--DarkGrayBlue);
    color: white;
}
.button:hover{
    background-image: linear-gradient(
        var(--light-slate-blue),
        var(--light-royal-blue)
        );
}
@media(max-width: 375px){
    body{
        min-height: 0vh;
    }
    .result-summary{
        display: flex;
        flex-direction: column;
        grid-template-rows: 1fr 1fr;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: 0px 0px;
    }
    .result{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: 440px;
    }
    .header{
        margin: 10px 0px 30px 0px;
    }
    .conclusion{
        width: 300px;
    }
}